# fly.toml app configuration file generated for anagram on 2025-12-02T00:59:17Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = "anagram"

[build]
  dockerfile = "Dockerfile"

[env]
  PORT = "8000"

[[services]]
  internal_port = 8000
  processes = ["app"]
  protocol = "tcp"
  min_machines_running = 0
  [[services.ports]]
    handlers = ["http"]
    port = 80
  [[services.ports]]
    handlers = ["tls", "http"]
    port = 443
